.moving-legend-node {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
    float: left;
}

.moving-legend-line {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    font-size: 13px;

}

.moving-legend-documentnode {
    background: #FDAE61;
}

.moving-legend-authornode {
    background: #ABD9E9;
}

.moving-legend-affnode {
    background: #2C7BB6;
}

.moving-legend-yearnode {
    background: #D7191C;
}